body {
    margin: 0;
    padding: 0;
}
.contenedor{
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}
@media only screen and (max-width: 600px) {
    .contenedor {
        padding: 0px; 
    }
}
.imagen_p{
    max-width: 100%;
    height: auto;
    display: block;
    margin:0 auto;
}
h1{
    background-color: #ab8053;
    color: white;
    text-align: center;
    font-size: 70px;
}
h2{
    color: #7d5639;
    font-size: 50px;
    padding: 25px;
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}
.copyright{
    background-color: #ab8053;
    padding: 20px;
    color: white;
    text-align: center;
}
.producto-container {
    display: flex;
    justify-content: space-around; /* Ajusta la distribución horizontal de los elementos */
    text-align: center;
}
.producto {
    margin: 10px; /* Ajusta el espacio entre los productos */
}

.imagen {
    width: 400px; /* Ajusta el tamaño de las imágenes */
    height: auto;
}

.producto-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    margin-bottom: 5px; /* Ajusta el espacio entre el texto y el botón */
}
.unidades {
    text-align: center;
    width: 50px; /* Ajusta el ancho según tus necesidades */
}
.contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Ajusta la altura según tus necesidades */
}
.boton {
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 0px;
    width: 50%;
}
.boton:hover {
    background-color: #7e3512;
    color:white;
}
.arbol{
    width: 30%;
    height: auto;
    display: block;
    margin:0 auto;
}